.cart-main-container {
  margin-top: 80px;
}
.cart-title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 55px;
}

.cart-container > :last-child {
  border-bottom: 1px solid #e5e5e5;
}

.cart-footer-info {
  margin-top: 32px;
  margin-bottom: 500px;
}