/* Header.css */
.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  /* background-color: rgb(40, 196, 196); */
  position: relative;
  z-index: 2;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-self: flex-end;
}

.navbar {
  margin: 0;
  padding: 0;
  height: 56px;
  box-sizing: border-box;
}

.navbar-list {
  display: flex;
  margin: 0;
  padding: 0;
  height: inherit;
}

.navbar-items {
  margin-right: 32px;
  padding: 0 .5rem 0 .5rem;
  cursor: pointer;
}
.navbar-items:hover {
  border-bottom: 2px solid black;
}
.navbar-items:hover .navbar-link {
  color: #5eCe7b;
  font-weight: 700;
}

.navbar-link {
  text-decoration: none;
  color: #1d1f22;
  font-weight: 400;
  text-transform: uppercase;
}


.logo-container {
  width: auto;
  padding-right: 3rem;
}

.logo {
  width: 41px;
  height: 41px;
  background-color: brown;
}

.actions {
  width: 204px;
  height: 40px;
  justify-self: end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.__img_cart_logo {
  margin-bottom: 3px;
}

/* Currency List Css */
.currency-container {
  height: inherit;
  margin-right: 22px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-size: 18px;
}

.currency-dropdown {
  width: 38px;
  height: 29px;
  /* background-color: rgb(126, 155, 240); */
  border: none;
  outline: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dropdown-list {
  position: absolute;
  top: 48px;
  left: 0;
  background-color: chocolate;
  width: 114px;
  height: auto;
  text-align: center;
  box-shadow: 2px 3px 20px 7px rgba(150, 148, 148, 0.41);
  -webkit-box-shadow: 2px 3px 20px 7px rgba(150, 148, 148, 0.41);
  -moz-box-shadow: 2px 3px 20px 7px rgba(150, 148, 148, 0.41);
}

.dropdown-item:nth-child(odd) {
  background-color: red;
  padding: 16px 0 16px 0;
}

.dropdown-item:nth-child(even) {
  background-color: #eeeeee;
  padding: 9px 0 9px 0;
}

.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.inactive {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

.arrow-down {
  transform: rotate(180deg);
}

.cart-container {
  /* background-color: rgb(199, 228, 55); */
  position: relative;
}

.main-container {
  width: 1200px;
}

.cart-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #333;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
  user-select: none;
}


/* Media Query  */
@media (max-width: 576px) {
  .header {
    height: auto;
    background-color: rgb(148, 217, 148);
  }

  .navbar-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: auto;
    justify-content: center;
  }

  .logo-container {
    padding: 0;
    width: fit-content;
    align-self: center;
  }
}


/* Cart Modal CSS */
.cart-modal {
  visibility: hidden;
  position: fixed;
  display: flex;
  z-index: 5;
  margin-top: 80px;
  padding-right: 3.5rem;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(57, 55, 72, 0.8);
  justify-content: flex-end;
}

.cart-modal-content {
  width: 325px;
  height: 495px;
  background-color: aqua;
}

.modal-overlay {
  position: fixed;
  display: flex;
  margin-top: 80px;
  padding-right: 72px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(57, 55, 72, 0.22);
  justify-content: flex-end;
}

.modal-container {
  width: 325px;
  height: 500px;
  background-color: #ffffff;
  padding: 26px 8px;
  box-sizing: border-box;
  margin-right: 72px;
  position: relative;
}

/* Custom modal scrollbar */
.modal-container ::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

.modal-container ::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin-block: .4rem;
}

.modal-container ::-webkit-scrollbar-thumb {
  background: #888;
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.bag-title {
  margin-bottom: 12px
}
.cart-items {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  min-height: 190px;
  margin-bottom: 40px;
}

.item-desc {
  width: 136px;
}

.item-brand {
  margin-bottom: .3rem;
}
.item-price {
  margin-bottom: .2rem;
}
.item-name {
  margin-bottom: .3rem;
  font-size: 14px;
}

.size-container {
  display: flex;
  font-size: 14px;
}
.item-property-container {
  margin-bottom: .4rem;
}
.item-property-content {
  display: flex;
}

.modal-body {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding-left: 4px;
  scrollbar-color: #888 #f1f1f1;
  scrollbar-width: thin;
}

.item-btn-container {
  /* border: 1px solid rgba(29, 31, 34, 1); */
  width: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 500;
}
.item-sign {
  font-size: 1.5rem;
  width: 24px;
  height: 24px;
  text-align: center;
  align-items: center;
  border: 1px solid rgba(29, 31, 34, 1);
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}
.item-image {
  width: 121px;
  height: inherit;
  border: 1px solid rgba(29, 31, 34, 1);
}
.item-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.total-amount {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  margin: .7rem 0;
}

.footer-btn {
  display: flex;
  justify-content: space-between;
}

.modals-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}